@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #13315c;
  color: #fff;
}

header {
  background-color: #0b2545;
  padding: 20px;
  max-width: 768px;
  display: flex;
  margin: 0 auto 25px auto;
}
.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* font-size: 1.2rem; */
}

.todo__form {
  margin: 0 auto 25px auto;
  display: flex;
  justify-content: center;
}
.form__input {
  background-color: #0b2545;
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
  height: 3.5rem;
  border-radius: 8px;
  border: none;
  width: 70%;
}

.form__input:active,
.form__input:focus {
  border: none;
  outline: none;
}
.todo__item {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #134074;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  line-height: 1.2;
}
.todo__item:hover {
  transform: scale(1.01);
  cursor: pointer;
}
